@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>LINCollect</h1>
    <p class="lead">
        Organizational Network Analysis (also known as Social Network Analysis in the field of Social Sciences) is quickly being adopted by corporates and organizations in an effort to visualize people relationships.
    </p>
    <p>
        However, manual processing of survey data, as well as the need to doublecheck data-entry, has made LINCollect survey projects timeconsuming. With www.lincollect.com the processing time will be minimised and error free as the survey output is automatically prepared for instant use and visualisation.
    </p>
    @*@Html.ActionLink("Learn more", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "btn purple" })*@
</div>