@using DynamicSurvey.Server.ViewModels
@model DynamicSurvey.Server.ViewModels.Surveys.EditRespondentViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    var editSurveyMenuViewModel = new EditSurveyMenuViewModel
    {
        EditSurveyMenu = EditSurveyMenu.AboutRespondent,
        SurveyTemplateId = Model.SurveyTemplateId
    };
}

@{ Html.RenderPartial("_EditSurveyMenu", editSurveyMenuViewModel); }

<a class="btn red btn-outline sbold" data-toggle="modal" href="@Url.Action("EditRespondent", "Surveys", new { questionAction = QuestionAction.Add, surveyTemplateId = Model.SurveyTemplateId })">insert question</a>

<input type="hidden" id="questionAction" value="@Model.QuestionAction" />
@if (Model.QuestionAction != null)
{
    Html.RenderPartial("_EditQuestion", Model.EditQuestionViewModel);
}

@section Plugins
{
    <script src="~/Content/theme/assets/global/plugins/ckeditor/ckeditor.js" type="text/javascript"></script>
    <script src="~/Content/theme/assets/global/plugins/ckeditor/adapters/jquery.js" type="text/javascript"></script>
}

@section Scripts
{
    <script src="~/Scripts/EditRespondent.js" type="text/javascript"></script>
    <script>
        $(document).ready(function () {
            EditRespondent.init();
        });
    </script>
}
