@using DynamicSurvey.Server.ViewModels
@model DynamicSurvey.Server.ViewModels.Surveys.EditRespondentViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{ Html.RenderPartial("_EditSurveyMenu", EditSurveyMenu.AboutRespondent); }

<a class="btn red btn-outline sbold" data-toggle="modal" href="#basic"> View Demo </a>

@{ Html.RenderPartial("_EditQuestion", Model.EditQuestionViewModel);}

@section Scripts
{
    <script src="~/Scripts/EditRespondent.js" type="text/javascript"></script>
    <script>
        $(document).ready(function () {
            EditRespondent.init();
        });
    </script>
}
