@using DynamicSurvey.Server.ViewModels
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="form-group about-you-step">
    <span class="survey-name">Survey name</span>
    <a href="#" class="btn btn-sm btn-small default">Proceed to next step >></a>


    <table cellpadding="5" cellspacing="0" border="0">  @*width=""*@ 
        <tbody>
            <tr>
                <td valign="top" width="70%">
                    <fieldset>
                        <legend>Select</legend>
                        <div style="margin:5px; width:510px;">
                            Search:
                            <input name="searchField" id="searchField">
                            <button class="btn btn-sm btn-small default" style="margin-bottom: 4px;">Reset</button>
                        </div>
                        <div class="relationships-list" id="relationships">
                            <div>
                                <i class="fa fa-plus-circle"></i>
                                <span>some relation</span>
                            </div>
                        </div>
                    </fieldset>
                </td>
                <td valign="top" width="30%">
                    <fieldset class="add-relation-to-selected">
                        <legend>Add</legend>
                        <i class="fa fa-plus-circle"></i>
                        <input name="addRelation">
                        <p>some relation added to selected</p>
                    </fieldset>
                    <fieldset>
                        <legend>Selection</legend>

                        <div class="relationships-list selected-relationships" id="selectedRelationships">
                            <div>
                                <i class="fa fa-minus-circle"></i>
                                <span>some relation 1</span>
                            </div>
                        </div>
                    </fieldset>
                </td>
            </tr>
        </tbody>
    </table>
</div>