@model Web.Models.ViewModels.SubmitView

<h3 class="font-green-haze">Successfully published</h3>
<div class="row">
    <div class="col-xs-12">
        @Html.ActionLink("Back to surveys", "Index", "Surveys", null, new { @class = "btn purple" })
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th>User</th>
            <th>Email</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Succeed)
        {
            <tr>
                <td>
                    @item.UserName
                </td>
                <td>
                    @item.UserEmail
                </td>
                <td>
                    @(item.Succeed ? "Success" : "Failed")
                </td>
            </tr>
        }

    </tbody>
</table>