@model Web.Models.ViewModels.PreviewView

@{
    ViewBag.Title = "Edit - Preview";
}

<div class="row">
    <div class="col-sm-3 col-xs-12 text-center">
        <a class="btn btn btn-block blue" href="/Surveys/Edit/@Model.SurveyId">Survey Options</a>
    </div>
    <div class="col-sm-3 col-xs-12 text-center">
        <a class="btn btn btn-block blue" href="/Surveys/Respondent/@Model.SurveyId">About Respondent</a>
    </div>
    <div class="col-sm-3 col-xs-12 text-center">
        <a class="btn btn btn-block blue" href="/Surveys/Relationship/@Model.SurveyId">Relationship</a>
    </div>
    <div class="col-sm-3 col-xs-12 text-center">
        <a class="btn btn-block purple" href="#">Preview Survey</a>
    </div>
</div>

@Html.Partial("Poll", Model, new ViewDataDictionary { {"region", "Html"} })

@section scripts {
    @Html.Partial("Poll", Model, new ViewDataDictionary {{"region", "Scripts"}})
}