.company-prew {
    cursor:pointer;
}

#loader
{
    position: absolute;
    top: 49%;
    margin-top: 0px;
    width: 100px;
    height: 100px;
    z-index: 99999;
    left: 49%;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #303a47 !important;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.padding-top-7 {
    padding-top: 7px;
}
.dl-horizontal dt {
    white-space: normal;
}

img.logo {
    width: 180px;
    height: 30px;
    margin-top: 10px;
    margin-left: 10px;
}

.body-content {
    background-color: #eeeeee !important;
}

.navbar-inverse {
    background-color: #303a47 !important;
    border-bottom-color: #303a47 !important;
}

    .navbar-inverse .container {
        background-color: #2b3643 !important;
        border-bottom-color: #2b3643 !important;
    }

    .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
        border-color: #2b3643 !important;
    }

    .navbar-inverse .navbar-toggle {
        border-color: #2b3643 !important;
    }

        .navbar-inverse .navbar-toggle:hover,
        .navbar-inverse .navbar-toggle:focus {
            background-color: #2b3643 !important;
        }


a.rel {
}

    a.rel.active {
        font-weight: bold;
        text-decoration: none;
        color: #8E44AD;
    }

.order-id {
    float: left;
    margin-right: 5px;
}

.form-group.question p {
    margin-top: 0px;
    margin-bottom: 0px;
}

hr.question {
    border: 0;
    border-top: 1px solid #2b3643;
    border-bottom: 0;
    opacity: 0.1;
    margin: 5px 0;
}
/*footer*/
.scroll-to-top {
    padding: 1px;
    text-align: center;
    position: fixed;
    bottom: 10px;
    z-index: 10001;
    display: none;
    right: 10px;
    color: #687991;
    cursor: pointer;
}

    .scroll-to-top i {
        color: #687991 !important;
        opacity: 0.6;
        filter: alpha(opacity=60);
    }

    .scroll-to-top:hover i {
        opacity: 1;
        filter: alpha(opacity=100);
        color: #687991 !important;
    }
